<form class="form-inline" v-on:submit.prevent="enviarMensaje" v-on:reset="limpiarChat" id="frm-chat">
    <div class="card text-dark bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header text-white bg-warning mb-3">
            <button type="button" id="btn-close-chat" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           <center><h5>CHAT</h5> </center>

        </div>
        <div class="card-body">
            <div class="container">
            <section id="messenger">
            <div class="col" v-for="msg in msgs" id="messages">
                <p class="p-3 mb-2 bg-secondary text-white">{{ msg }}</p>
            </div>
            <div class="col" id="InputMessages">
               
                    <input type="text" v-model="user" placeholder="Nombre" class="form-control" id="nombre">
                    <input type="text" v-model="msg" placeholder="Escribe tu Mensaje" class="form-control">
                    <input type="submit" value="Enviar" class="btn btn-success">
         
            </div>
            </section>
        </div>
        </div>
    </div>
</form>
<script src="public/vistas/chat/chat.js"></script>