<form method="post" id="frm-clientes" v-on:submit.prevent="guardarClientes" v-on:reset.prevent="limpiarClientes">
    <div class="card">
        <h3 class="card-header">
            Mantenimiento de Clientes <i class="fas fa-fw fa-cog"></i>
            <button type="button" id="btn-close-clientes" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h3>
        <div class="card-body">
            <div class="row row-cols-2 p-2">
                <div class="row-col">
                    <div class="col">
                        <label for="idnombre">Nombre</label>
                        <input id="idnombre" type="text" required v-model="cliente.nombre" placeholder="AAA AAAA" class="form-control">
                    </div>
                </div>
                <div class="row-col">
                    <div class="col">
                        <label for="idnombre">Apellido</label>
                        <input id="idapellido" type="text" required v-model="cliente.apellido" placeholder="AAA AAAA" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                    <div class="col-12">
                        <label for="iddireccion">Direccion</label>
                        <input id="iddireccion" type="text" required v-model="cliente.direccion" placeholder="AAAAAAAAAAA" class="form-control">
                    </div>
            </div>
            <div class="row row-cols-2 p-2">
                <div class="row-col">
                    <div class="col">
                        <label for="idtelefono">Telefono</label>
                        <input id="idtelefono" type="text" required v-model="cliente.telefono" placeholder="0000-0000" class="form-control">
                    </div>
                </div>
                <div class="row-col">
                    <div class="col">
                        <label for="iddui">Dui</label>
                        <input id="iddui" type="text" required v-model="cliente.dui" placeholder="00000000-0" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                    <div class="col text-center">
                        <input id="btnGuardarClientes" type="submit" class="btn btn-success text-white" value="Guardar">
                        <input type="reset" class="btn btn-danger text-white" value="Limpiar">
                        <input type="button" class="btn btn-primary mostrar-buscar-clientes text-white" data-modulo="clientes" data-form="buscar-clientes" value="Buscar" data-modulo="buscar-clientes" >
                    </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/clientes/clientes.js"></script>