<form method="post" id="frm-buscar-tipohabitaciones">
        <div class="card">

        <h3 class="card-header">
            Busqueda de categorias <i class="fas fa-fw fa-search"></i>

            <button type="button" id="btn-close-buscar-tipohabitaciones" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h3>
        <div class="card-body">
            <table id="tbl-buscar-tipohabitaciones" class="table table-striped">
                <thead>
                    <tr>
                            <input type="text" v-model="valor" v-on:keyup="buscarTipohabitaciones" placeholder="Buscar por categoria" class="form-control">
                    </tr>
                    <tr>
                        <th>CATEGORIA</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_tipohabitacion in mis_tipohabitaciones" :key="mi_tipohabitacion.idTipohabitacion" v-on:click="modificarTipohabitacion(mi_tipohabitacion)" >
                        <td>{{ mi_tipohabitacion.categoria }}</td>
                        <td>
                            <input v-on:click="eliminarTipohabitacion(mi_tipohabitacion.idTipohabitacion)" type="button" class="btn btn-danger text-white" value="ELIMINAR">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/tipohabitaciones/buscar-tipohabitaciones.js"></script>