<form method="post" id="frm-buscar-habitaciones">
        <div class="card text-white bg-info mb-3" style="max-width: 48rem;">

        <div class="card-header">
            BUSQUEDA DE CLIENTES

            <button type="button" id="btn-close-buscar-habitaciones" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-habitaciones" class="table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarHabitaciones" placeholder="habitacion, camas o disponibilidad" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>NUM. HABITACION</th>
                        <th>NUM. CAMAS</th>
                        <th>DISPONIBILIDAD</th>


                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_habitacion in mis_habitaciones" :key="mi_habitacion.idHabitacion" v-on:click="modificarHabitacion(mi_habitacion)" >
                        <td>{{ mi_habitacion.numhabitacion}}</td>
                        <td>{{ mi_habitacion.numcamas }}</td>
                        <td>{{ mi_habitacion.disponibilidad }}</td>
                        <td>
                            <input v-on:click="eliminarHabitacion(mi_habitacion.idHabitacion)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/habitaciones/buscar-habitaciones.js"></script>