<form method="post" id="frm-buscar-pisos">
        <div class="card text-white bg-info mb-3" style="max-width: 48rem;">

        <div class="card-header">
            BUSQUEDA DE PISOS

            <button type="button" id="btn-close-buscar-pisos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-pisos" class="table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarPisos" placeholder="numero o nombre " class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>NUMERO</th>
                        <th>NOMBRE DEL PISO</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_piso in mis_pisos" :key="mi_piso.idPiso" v-on:click="modificarPiso(mi_piso)" >
                        <td>{{ mi_piso.piso }}</td>
                        <td>{{ mi_piso.nombre }}</td>
                        <td>
                            <input v-on:click="eliminarPiso(mi_piso.idPiso)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/pisos/buscar-pisos.js"></script>