<form method="post" id="frm-pisos" v-on:submit.prevent="guardarPisos" v-on:reset.prevent="limpiarPisos">
    <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
        <div class="card-header">
            MANTENIMIENTO DE PISOS
            <button type="button" id="btn-close-pisos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-2 p-2">
                <div class="row-col">
                    <div class="col">
                        NUMERO DE PISO
                    </div>
                    <div class="col">
                        <input type="text" required v-model="piso.piso" placeholder="N°" class="form-control">
                    </div>
                </div>
                <div class="row-col">
                    <div class="col">
                        NOMBRE
                    </div>
                    <div class="col">
                        <input type="text" required v-model="piso.nombre" placeholder="AAAAA" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarPisos" type="submit" class="btn btn-success text-white" value="Guardar">
                        <input type="reset" class="btn btn-danger text-white" value="Limpiar">
                        <input type="button" class="btn btn-primary mostrar-buscar-pisos text-white" data-modulo="pisos" data-form="buscar-pisos" value="Buscar" data-modulo="buscar-pisos" >
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="alert alert-success" role="alert">{{ piso.msg }}</div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/pisos/pisos.js"></script>